@use "variables" as *;

html[data-layout="dashboard"] {
    --p-form-field-border-radius: var(--p-border-radius-md);
    --p-checkbox-border-radius: var(--p-border-radius-xs);
    --p-datatable-header-cell-background: transparent;
    --p-datatable-row-background: transparent;
    --p-progressspinner-color-one: var(--p-primary-100);
    --p-progressspinner-color-two: var(--p-primary-300);
    --p-progressspinner-color-three: var(--p-primary-500);
    --p-progressspinner-color-four: var(--p-primary-700);
    --p-tag-border-radius: var(--p-border-radius-sm);

    .p-datatable {
        .p-datatable-tbody > tr {
            &:last-child {
                td {
                    border: none;
                }
            }
        }

        .p-datatable-table-container[data-p="empty"] {
            display: none;
        }

        .p-datatable-empty-message[data-pc-section="emptymessage"] {
            display: none;
        }

        .p-datatable-paginator-bottom {
            padding-top: $indent-x2;
        }
    }
}
