@use "variables" as *;

// Переменные
$columns: 12;
$gap: 8px;
$row-height: minmax(100px, auto);

//$breakpoints: (
//    "mobile": 0,
//    "tablet": $layout-mobile-width, // 992px,
//    "desktop": $layout-tablet-width, // 1336px,
//    "wide": $layout-max-width, // 1920px;
//);

// Grid контейнер
.grid {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-auto-rows: $row-height;
    gap: $gap;
}

// Выравнивание всех колонок по высоте
.grid-stretch-rows {
    grid-template-rows: 1fr 1fr;
}

.grid-reset-rows {
    grid-auto-rows: inherit;
}

// Миксин для генерации колонок и отступов
@mixin generate-columns($prefix: "") {
    @for $i from 1 through $columns {
        .#{$prefix}col-#{$i} {
            grid-column: span #{$i};
            display: flex;
            flex-direction: column;
        }

        .#{$prefix}offset-#{$i} {
            grid-column-start: #{$i + 1};
        }

        @for $j from 1 through $columns {
            .#{$prefix}row-span-#{$j} {
                grid-row: span #{$j};
            }
        }
    }
}

// Базовые стили (mobile-first) — всегда
@include generate-columns();

// Mobile (0 до tablet)
@media (max-width: $breakpoints-md) {
    @include generate-columns("mobile-");
}

// Tablet (от tablet до desktop)
@media (min-width: $breakpoints-md) and (max-width: $breakpoints-lg) {
    @include generate-columns("tablet-");
}

// Desktop (от desktop до wide)
@media (min-width: $breakpoints-lg) and (max-width: $breakpoints-xxl) {
    @include generate-columns("desktop-");
}

// Wide (1920px и выше)
@media (min-width: $breakpoints-xxl) {
    @include generate-columns("wide-");
}

@media (max-width: $breakpoints-md) {
    [class*="mobile-hidden"] {
        display: none !important;
    }
}

@media (max-width: $breakpoints-lg) {
    [class*="tablet-hidden"] {
        display: none !important;
    }
}
