@use "typography" as *;
@use "variables" as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin col-width($w) {
    width: $w;
    min-width: $w;
}

@mixin flex-width($w) {
    flex-basis: $w;
    max-width: $w;
}

@mixin table-outer-borders {
    td:first-child,
    th:first-child {
        border-left: none;
    }

    td:last-child,
    th:last-child {
        border-right: none;
    }

    tr:first-child td,
    tr:first-child th {
        border-top: none;
    }

    tr:last-child td {
        border-bottom: none;
    }
}

@mixin table-outer-header {
    .p-datatable-header-cell {
        border-width:  0;
        background: transparent;
    }

    .p-datatable-tbody > tr {
        background: transparent;

        &:first-child {
            td {
                border-width:  1px !important;
            }

            td:first-child {
                border-top-left-radius: $indent-x2;
            }

            td:last-child {
                border-top-right-radius: $indent-x2;
            }
        }

        &:last-child {
            td:first-child {
                border-bottom-left-radius: $indent-x2;
            }

            td:last-child {
                border-bottom-right-radius: $indent-x2;
            }
        }
    }

    .p-datatable-paginator-bottom {
        border-width: 0;

        .p-paginator {
            background: transparent;
        }
    }

    .p-datatable-mask {
        border-radius: $indent-x2;
    }
}

@mixin text-content {
    p {
        @include p();

        margin-bottom: $indent-x2;
    }

    ol {
        @include p();

        list-style-type: decimal;
        margin-bottom: $indent-x2;

        li {
            margin-left: $indent-x3;

            p {
                margin-bottom: 0;
            }

            ol, ul {
                margin-top: 0;
            }
        }
    }

    ul {
        @include p();

        list-style-type: disc;
        margin-bottom: $indent-x2;

        li {
            margin-left: $indent-x3;

            p {
                margin-bottom: 0;
            }

            ol, ul {
                margin-top: 0;
            }
        }
    }

    .b-image {
        margin-bottom: $indent-x2;
    }
}

/**
 * Цвета для расширения файлов
 */
$cloud-file-types: (
        (jpg, jpeg, png, tif): --p-green-500,
        (pdf): --p-red-500,
        (doc, docx): --p-blue-500,
        (zip): --p-orange-500,
        (xlsx, xls): --p-teal-500,
        (txt): --p-gray-500,
        (ai): --p-purple-500,
        (pptx): --p-pink-500,
        (mp4, mov, avi, m4a, ogg): --p-yellow-500
);

@mixin file-colors($ext-map: $cloud-file-types) {
    @each $exts, $color in $ext-map {
        @each $ext in $exts {
            .icon.#{$ext} {
                border-color: var(#{$color});
                color: var(#{$color});
            }

            &:hover {
                .icon.#{$ext} {
                    background-color: var(#{$color});
                    color: var(--p-surface-950);
                }
            }

        }
    }
}

@mixin box-shadow() {
    .shadow {
        background-color: var(--p-primary-500);
        opacity: 0;
        filter: blur(10px);
        pointer-events: none;
        transition: opacity 0.3s;
        z-index: 1;
        border-radius: 50%;
        position: absolute;
        bottom: -20px;
        left: 5%;
        width: 90%;
        height: 40px;
    }

    &:hover .shadow {
        opacity: 0.2;
    }

    &:hover .title {
        color: var(--p-primary-500);
    }
}

@mixin portal-card() {
    display: flex;
    padding: $indent-x4;
    background: var(--p-portal-card-background);
    border-radius: $indent-x4;
}

@mixin list-view {
    border-radius: $indent-x2;
    background-color: var(--p-dashboard-card-background);
    padding: 0 $indent-x2 $indent-x3 $indent-x2;
}

@mixin input-width($w: $input-width) {
    width: $w;
    min-width: $w;
}
