@use "variables" as *;

html {
    --p-datatable-header-cell-background: transparent;
    --p-datatable-row-background: transparent;

    --p-treetable-header-cell-background: transparent;
    --p-treetable-row-background: transparent;

    .p-datatable,
    .p-treetable {
        &:not(.p-datatable-gridlines):not(.p-treetable-gridlines) {
            .p-datatable-tbody > tr,
            .p-treetable-tbody > tr {
                &:last-child {
                    td {
                        border: none;
                    }
                }
            }
        }

        &.p-datatable-gridlines {
            .p-datatable-header-cell:first-child {
                border-start-start-radius: var(--p-form-field-border-radius);
            }

            .p-datatable-header-cell:last-child {
                border-start-end-radius: var(--p-form-field-border-radius);
            }

            .p-datatable-tfoot {
                > tr {
                    > td {
                        border-top-width: 6px;
                        border-style: double;
                    }

                    > td:first-child {
                        border-end-start-radius: var(--p-form-field-border-radius);
                    }

                    > td:last-child {
                        border-end-end-radius: var(--p-form-field-border-radius);
                    }
                }
            }
        }

        .p-datatable-table-container[data-p="empty"],
        .p-treetable-table-container[data-p="empty"] {
            display: none;
        }

        &:not(.show-empty) {
            .p-datatable-empty-message[data-pc-section="emptymessage"],
            .p-treetable-empty-message[data-pc-section="emptymessage"] {
                display: none;
            }
        }

        .p-datatable-paginator-bottom,
        .p-treetable-paginator-bottom {
            padding-top: $indent-x2;
            border-width: 0;
        }
    }

    .p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover {
        border: 1px solid var(--p-paginator-nav-button-hover-border-color);
    }
}
