.glow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 157px;
    height: 157px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
            circle,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) 100%
    );
    filter: blur(280px);
    z-index: 0;
    pointer-events: none;
}
