$indent: 8px;
$indent-x-limit: 6;

$indent-x1: $indent;     // = 8px
$indent-x2: $indent * 2; // = 16px
$indent-x3: $indent * 3; // = 24px
$indent-x4: $indent * 4; // = 32px
$indent-x5: $indent * 5; // = 40px
$indent-x6: $indent * 6; // = 48px
$indent-x7: $indent * 7; // = 56px
$indent-x8: $indent * 8; // = 64px

$breakpoints-xxl: 1920px;
$breakpoints-xl: 1600px;
$breakpoints-lg: 1336px;
$breakpoints-md: 992px;
$breakpoints-sm: 768px;
$breakpoints-xs: 0;

$layout-max-width: $breakpoints-xxl;
$layout-desktop-width: $breakpoints-lg;
$layout-tablet-width: $breakpoints-md;
$layout-mobile-width: $breakpoints-sm;

$portal-layout-max-width: $layout-max-width;

$font-size-h1: 2.8571rem; // 40px
$font-size-h2: 2.2857rem; // 32px
$font-size-h3: 1.7143rem; // 24px
$font-size-h4: 1.2857rem; // 18px
$font-size-p: 1.1429rem; // 16px

$line-height-h1: 3.4286rem; // 48px
$line-height-h2: 2.8571rem; // 40px
$line-height-h3: 2.2857rem; // 32px
$line-height-h4: 1.7143rem; // 24px
$line-height-p: 1.7143rem; // 24px

$portal-card-min-height: 195px;

/** Dashboard */
$border-radius: $indent-x2
