$indent: 8px;
$indent-x-limit: 6;

$indent-x1: $indent;     // = 8px
$indent-x2: $indent * 2; // = 16px
$indent-x3: $indent * 3; // = 24px
$indent-x4: $indent * 4; // = 32px
$indent-x5: $indent * 5; // = 40px
$indent-x6: $indent * 6; // = 48px
$indent-x7: $indent * 7; // = 56px
$indent-x8: $indent * 8; // = 64px

$layout-max-width: 1920px;
$layout-desktop-width: 1600px;
$layout-mobile-width: 1336px;
$layout-middle-width: calc(($layout-desktop-width + $layout-mobile-width) / 2);

$portal-layout-max-width: $layout-max-width;

$font-size-h1: 2.8571rem; // 40px
$font-size-h2: 2.2857rem; // 32px
$font-size-h3: 1.7143rem; // 24px
$font-size-h4: 1.2857rem; // 18px
$font-size-p: 1.1429rem; // 16px

$line-height-h1: 3.4286rem; // 48px
$line-height-h2: 2.8571rem; // 40px
$line-height-h3: 2.2857rem; // 32px
$line-height-h4: 1.7143rem; // 24px
$line-height-p: 1.7143rem; // 24px
